$text-color: white
$bright-green: #85ff55

.container

    background: #333333
    color: $text-color

    .main

        padding: 0px 20px

        font-size: 2em
        font-family: sans-serif
        font-weight: 600

        display: flex
        flex-direction: column
        justify-content: center

        .about

            padding: 15% 0px

            text-align: center

            .intro

                display: flex
                flex-direction: column
                justify-content: space-evenly
                align-items: center
                gap: 5px

                .dipak
                    border-radius: 50%

                .my_name_wrapper

                    display: flex
                    flex-direction: row
                    justify-content: center
                    align-items: center

                    .my_name

                        display: flex
                        flex-direction: row
                        align-items: center
                        padding: 10px

                    .varified_badge

                        color: blue

            .header
                font-size: 150%
                font-family: sans-serif
                font-weight: 600
                padding: 25px 0px
                color: $bright-green

            .bio
                font-size: .5em

        .skills

            width: 100%

            display: flex
            flex-direction: row
            align-items: center
            justify-content: center

            img

                padding: 10px
                width: 30%
                background-position: center
                background-size: cover

    .footer

        padding: 5rem 0px

        display: flex
        flex-direction: row

        justify-content: center
        align-items: center

        .fb, .insta

            padding: 10px
            text-decoration: none
            color: $text-color

            font-size: 100%
            font-family: sans-serif
            font-weight: 700

            svg
                height: 2rem
                width: 2rem
